{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    </br>
    <div class="jumbotron  py-2 col-md-12">
        <div>
        <h1>Sign In</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-4">
                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}
                    {{ form.submit(class="btn btn-outline-secondary") }}
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}