{% extends "base.html" %}

{% block app_content %}
    </br>
    <div class="jumbotron  py-2 col-md-12">
        <div>
        <h4>Endpoint: {{ service.service_id }}</h4>
        <form action="" method="post" novalidate class="pl-0 col-md-6">
        {{ form.csrf_token }}
        {{ render_field(form.service_name) }}
        {{ render_field(form.service_meta) }}
        {{ render_field(form.service_tag) }}
        {{ form.submit(class="btn btn-outline-secondary") }}
        </form>
        </div>
    </div>
{% endblock %}